<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categorias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list>
<!--O componente "*ngFor = " let item of items" serve que o conteudo seja repitido varias vezes --> 
 <button ion-item *ngFor = " let item of items"> 
<ion-thumbnail item-start>
  <img src="{{bucketUrl}}/cat{{item.id}}.jpg">
</ion-thumbnail>
<!--para pegar os nomes das categorias na API que foi criada, preciso realizar dessa forma abaixo-->
<h2>{{item.nome}}</h2>
</button>

</ion-list>
</ion-content>